body{
    margin: 0;
    padding: 0;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}

.vertical-align{
    vertical-align: middle;
}

h1{
    font-size: 50px;
}

 
.a-button-style{

    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #3A8251;
}
.color-white{
    color: white;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.flexible-container{
    display: flex;
    justify-content: space-between;
    
}
.box-content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
  }

  .box-content-2 {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    }

  .box-content-3 {
    margin-left: auto;
    margin-right: auto;
    width: 1700px;
    }

.para-font{
    font-size: 24px;
    letter-spacing: -0.5px;
    margin: 30px 378px;
}

.top-header{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.842)),
                      url("images/donation12.png");
    padding: 100px 150px;
    padding-bottom: 200px;
    background-attachment: scroll;
    background-position: center;
    
}

.top-header h1{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.top-header p{
    margin-bottom: 40px;;
}
#donate-today{
    margin: 200px 0;
}

#donate-today .box{
    flex: 1;
    background-color: #ececec;
    margin: 15px 15px;
    padding:65px 30px;
    border-radius: 6px;
    color: grey;
    font-size: 40px;

}

hr.solid {
    border-top: 2px solid #bbb;
    margin-bottom: 3em;
    margin-left: 19px;
  }
  
.other-amount a{
    margin-top: 30px;
}

#donate-plan{
    margin: 100px 0;
}

#donate-plan .box{
    flex: 1;
    margin: 15px 15px;
    padding:90px 60px;
    border-radius: 6px;
    font-size: 25px;
}

#support-section{
    margin: 200px 0;
}

.support-content p{
    font-size: 18px;
    letter-spacing: -0.5px;
    margin: 50px 0;
}

.support-content .text-section{
    width: 60%;
}

.support-content .image-section{
    width: 40%;
}

.newsletter-form{
    margin-top: 20px;
}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
  }
  
.container {
    padding: 20px;
    background-color: #f1f1f1;
  }

.submit-icon input[value]{
    color: white;
    background-color: #3A8251;
    padding: 10px 30px;
    border-radius: 5px;
    }

    .footer p{
        color: white;
        font-size: small;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0;
        padding-top: 30px;
        background-image: linear-gradient(to left,rgba(8, 8, 8, 0.719), rgb(0, 0, 0));
        min-height: 50px;
    }