body{
    margin: 0;
    padding: 0;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}

.vertical-align{
    vertical-align: middle;
}

h1{
    text-align: center;
    font-size: 50px;
}

 
.a-button-style{

    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #3A8251;
}
.color-white{
    color: white;
}

.text-align-center{
    text-align: center;
}

.flexible-container{
    display: flex;
    justify-content: space-between;
    
}
.center {
    margin: 0 auto;
    width: 1200px;
    padding: 10px;
  }


.para-font{
    font-size: 24px;
    letter-spacing: -0.5px;
}

.top-header{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.842)),
                      url("images/donation12.png");
    padding: 100px 150px;
    padding-bottom: 200px;
    background-attachment: scroll;
    background-position: center;
    
}

.top-header h1{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.top-header p{
    margin-bottom: 40px;;
}
#donate-today{
    
    max-width: 1200px;
}



#donate-today .box{
    flex: 1;
    background-color: #ececec;
    margin: 15px 15px;
    padding:65px 30px;
    border-radius: 6px;
    color: grey;
    font-size: 40px;

}

hr.solid {
    border-top: 2px solid #bbb;
    margin-bottom: 3em;
  }
  
.other-amount a{
    margin-top: 30px;
}

#donate-plan{
    max-width: 1600px;
}

#donate-plan .box{
    flex: 1;
    background-color: #ececec;
    margin: 15px 15px;
    padding:90px 30px;
    border-radius: 6px;
    font-size: 25px;
}