body{
    margin: 0;
    padding: 0;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}

.vertical-align{
    vertical-align: middle;
}

.color-white{
    color: white;
}

.text-align-center{
    text-align: center;
}

.para-font{
    font-size: 24px;
    letter-spacing: -0.5px;
}

.top-header{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                      url("images/donation12.png");
    background-position: center;
    padding: 150px 200px;
    
}

h1{
    font-size: 70px;
    margin-top: 100;
}